.todo-item{
    display: flex;
    flex-direction: row;
    background-color: #fff;
    color: #000;
    align-items: center;
    margin: 10px;
    border-radius:50px;
    

}

.checkbox{
    margin-left: 20px;
}

.todo-text{
    margin-left: 10px;
    font-family: 'Roboto Mono', monospace;
}
